* {
    box-sizing: border-box;
}

header{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    padding: 12px;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: aliceblue;
    background-image: linear-gradient(to right, black, #193536 , black);
}
h2{
    text-align: center;
}

.container{
    width: 600px;
    margin: auto;
}

.box{
    float: right;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 0.997);
}
