* {
    box-sizing: border-box;
}

header{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    padding: 12px;
    text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: aliceblue;
    background-image: linear-gradient(to right, black, #193536 , black);
}

section{
    text-align: center;
}

.box{
    border-radius: 10px;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.997);
    padding: 30px;
    box-shadow: 0px 10px 20px #29585a;
}

.container{
    width: 600px;
    margin: auto;
}

a{
    padding: 5px;
    color: aliceblue;
}


#produto, #plataforma, #quantidade, #valor{
    width: 250px;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #454545;
    color: aliceblue;
    outline: none;
}

#cadastrar{
    font-family: 'Poppins' sans-serif;
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background-color: #1a595b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 2px 2px 0px #193536;
    transition: transform 200ms ease-in-out;
}

#cadastrar:hover{
    transform: scale(1.05);
}

#limpaForm{
    font-family: 'Poppins' sans-serif;
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background-color: #1a595b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 2px 2px 0px #193536;
    transition: transform 200ms ease-in-out;
}

#limpaForm:hover{
    transform: scale(1.05);
}

#verEstoque{
    font-family: 'Poppins' sans-serif;
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background-color: #1a595b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 2px 2px 0px #193536;
    transition: transform 200ms ease-in-out;
}

#verEstoque:hover{
    transform: scale(1.05);
}