* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: aliceblue;
    background-image: linear-gradient(to right, black, #193536 , black);
}

header{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    padding: 12px;
    text-align: center;
}

.details{
    margin-left: 400px;
    float: left;
    height: 20px;
    padding-top: 50px;
}

.userLogin{
    float: right;
    margin-right: 300px;
}

.box{
    text-align: center;
    float: right;
    border-radius: 10px;
    width: 300px;
    background-color: rgba(29, 29, 29, 0.997);
    text-align: center;
    padding: 50px;
}

.usuario, .senha{
    padding: 2px;
    border-radius: 10px;
    background-color: #454545;
    color: aliceblue;
}

.login{
    padding: 5px;
    border-radius: 15px;
    background-color: #454545;
    color: rgb(194, 194, 194);
}

.cadast{
    color: rgb(255, 255, 255);
}

hr{
    width: 1000px;
}