* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: aliceblue;
    background-image: linear-gradient(to right, black, #193536 , black);
}

header{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    padding: 12px;
    text-align: center;
}

.details{
    float: left;
    height: 20px;
    padding-top: 50px;
}

.userLogin{
    float: right;
    text-align: center;
}

.box{
    float: right;
    border-radius: 10px;
    width: 400px;
    background-color: rgba(29, 29, 29, 0.997);
    text-align: left;
    padding: 50px;
}

.container{
    width: 900px;
    margin: auto;
}

.mainPage{
    align-items: center;
}


#usuario, #senha{
    width: 250px;
    height: 25px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #454545;
    color: aliceblue;
}

.login{
    font-family: 'Poppins' sans-serif;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background-color: #454545;
    color: rgb(194, 194, 194);
    cursor: pointer;
    box-shadow: 2px 2px 0px #193536;
    transition: transform 200ms ease-in-out;
}

.login:hover{
    transform: scale(1.05);
}

.cadast{
    color: rgb(255, 255, 255);
}

hr{
    width: 1000px;
}